body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button{
  cursor: pointer;
}

.map{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.mapcont{
  position: relative;
  height: 100vh;
}

.btn-marg{
  margin: 5px 5px 5px 5px;
  color: white;
}